  
<ion-header>
    <ion-toolbar>
      <ion-title>Mes_contactes</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
     <ion-item *ngFor="let data of contactesData " (click)="cliquer(data.id)">
       <ion-label>
         <ion-avatar slot="start">
           <img src="{{data.picture.medium}}" >        
         </ion-avatar>
       <h4>
          {{data.name.first}} 
           {{data.name.last}}
          </h4>
        </ion-label>
     </ion-item>
    </ion-list>
  </ion-content>