<ion-header translucent>
    <ion-toolbar>
      <ion-title>Connexion</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <form onsubmit="processForm(event)">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <h1>
            <ion-label position="stacked" >Login <ion-text color="danger">*</ion-text>
          </ion-label>
        </h1>
        <h5>
          <ion-input required type="text" oninput="handleFirstNameValue(event)" placeholder="Votre Pseudo"></ion-input>
        </h5>
        </ion-item>
        <ion-item>
          <h1>
          <ion-label position="stacked" >Password <ion-text color="danger">*</ion-text>
          </ion-label>
        </h1>
        <h5>
          <ion-input required type="Password" oninput="handleLastNameValue(event)" placeholder="Votre mot de passe"></ion-input>
        </h5>
        </ion-item>
      </ion-list>
      <div class="ion-padding">
          <ion-button routerLink ="/mes-contactes" size="large" color="medium" class="ion-color ion-color-medium ios button button-large button-solid ion-activatable ion-focusable hydrated">Envoyer</ion-button>
        </div>
        </form>
  </ion-content>
